@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --Text:rgb(255, 255, 255);
    --Background:rgb(0, 0, 0);
    --Primary: rgb(248, 84, 84);
    --PrimaryContrast: ;
    --Secondary: rgba(0, 255, 8, 0.692);
    --SecondaryContrast: ;
    --Accent: rgb(174, 243, 211);
    --AccentContrast: ;
    --ToolBar: #cdcdcd2e;
    --ToolBarAccent: #ffffff;
    --ToolBarAccentContrast: #161616;
    --Font: "Poppins", serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', serif;
    font-weight: 800;
    font-style: normal;  
    background-color: var(--Background); 
}

/* barra de ferramentas */
#tool-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    border-radius: 6px;
    background: var(--ToolBar);   
    max-width: fit-content; 
    height: fit-content;
    flex-shrink: 0;
    position: fixed;
    bottom: 50px;
}
.btn{
    border: 2px solid var(--ToolBar);
    background: var(--ToolBarAccent);
    border-radius: 6px;
}
.color-picker{
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    max-width: fit-content;
    flex-shrink: 0;
}
.normal-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 6px;
}
.normal-btn svg{
    width: 55%;
    height: 55%;
}
#rand-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-left: 10px;
    padding-right: 5px;
    background-color: var(--ToolBarAccent);
}
#rand-btn{
    max-width: fit-content;
}
.algorithm-selection{
    position: absolute;
    z-index: 2;
    bottom: 70px;
    left: 490px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    font-size: 16px;
    width: 200px;
    padding: 15px;
    border-radius: 6px;
    border: 2px solid var(--ToolBar);
    background-color: var(--ToolBarAccent);
}
.algorithm-selection button{
    text-align: start;
    width: 190px;
    padding: 7px;
    margin: 2px;
    border-radius: 6px;
    border: 2px solid var(--ToolBar);
    background: var(--ToolBarAccent);
}
.algorithm-selection button:hover{
    background-color: var(--ToolBar);
}

/* color-picker btns */
#font_color{
    background-color: var(--Text);
    color: var(--Background);
}
#background_color{
    background-color: var(--Background);
    color: var(--Text);
}
#primary_color{
    background-color: var(--Primary);
}
#secondary_color{
    background-color: var(--Secondary);
}   
#accent_color{
    background-color: var(--Accent);
}

/* normal btns */
#light-dark svg{
    width: 95%;
    height: 95%;
}
#rand-btn svg{
    width: 95%;
    height: 95%;
}
#algorithm-btn svg{
    width: 65%;
    height: 45%;
}
#template-btn svg{
    width: 55%;
    height: 55%;
}
#undo-btn svg{
    width: 45%;
    height: 45%;
}
#redo-btn svg{
    width: 45%;
    height: 45%;
}
#share-btn svg{
    width: 45%;
    height: 45%;
}
#hide-btn svg{
    width: 45%;
    height: 45%;
}

.hidden{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: block;
    height: 100vh;
    width: 100vw;
}

.header svg{
    position: absolute;
    right: 0px;
    bottom: 0;
    z-index: -1;
}

#header-box{
    position: absolute;
    left: 150px;
    bottom: 242px;
    align-self: stretch;
}

#header-box h1{
    color: #000;
    font-family: var(--Font);
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    max-width: 800px;
    line-height: 120%; /* 115.2px */
}

