* {
    --font_color:rgb(238, 7, 7);
    --background:rgb(41, 170, 110);
    --primary: rgb(55, 6, 6);
    --secondary: white;
    --accent: rgb(174, 243, 211);
    --font: ;
}

body {
    background-color: var(--background);
}

.menu {
    left: 0px;
    background-color: var(--primary);
    position: fixed;
    top: 0%;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.button_white {
    font-family: "Roboto", system-ui;
    background-color: white;
    font-weight: 600;
    width: 96px;
    height: 48px;
    border-color: black;
    border-width: 1px;
    margin-right: 20px;
}

.button_black {
    font-family: "Roboto", system-ui;
    background-color: black;
    color: white;
    font-weight: 600;
    width: 96px;
    height: 48px;
    border-color: white;
    border-width: 1px;
}

.select_window {
    background-color: rgb(29, 29, 29);
}

.menu {
    display: flex;
    margin: auto;
    position: fixed;
    justify-content: left;
}

.menu img {
    margin-left: 50px;
    margin-right: 60%;
}

.menu_right{
    font-family: "Roboto", system-ui;
    justify-content: right;
    font-weight: 400;
    font-size: 16px;
}
.menu_right a{
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

.edit {
    padding: 0 60px 0;
}

.edit_hud button, .edit_hud {
    border-radius: 6px;
    border-style: none;
}

.edit_hud img {
    margin-top: 5px;
}

.randomize {
    margin-bottom: 5px;
}

.arrow_top {
    margin-bottom: 15px;
}

.dark_mode {
    padding-top: 3px;
}

.share {
    padding-top: 4px;
    padding-right: 3px;
}

.visibility {
    padding-top: 4px;
}

.edit_hud button {
    text-align: center;
    margin: auto 8px auto;
    font-size: 18px;
    font-weight: 500;
}

.edit_hud {
    background-color: gray;
    position: fixed;
    margin-top: 40%;
    height: 78px;
    width: 1379px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1, .dark_mode_button {
    width: 67px;
    margin-top: 15px;
}
.font_color, .primary_color {
    width: 121px;
    margin-top: 15px;
}

.edit_hud button {
    height: 67px;
}

body {
    align-content: center;
}

.intro {
    margin-left: 50px;
    margin-top: 200px;
    justify-content: left;
    width: 509px;
    height: 560px;
    color: var(--font_color);
    padding-left: 50px;
}

.intro h2 {
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-size: 56px;
}
.intro p {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-size: 18px;
}

.dark_mode_button svg {
    fill: black;
}

.dark_mode_button::before {
    background-color: black;
    fill: white;
}
.dark_mode_button::after {
    background-color: white;
    fill: black;
}

.font_color {
    background-color: var(--font_color);
}

.background_color {
    background-color: var(--background);
}

.primary_color {
    background-color: var(--primary);
}

.secondary_color {
    background-color: var(--secondary);
}

.accent_color {
    background-color: var(--accent);
}


.edit_hud button {
    height: 67px;
}

.jsonData {
    margin-top: 600px;
    background-color: white;
}