:root{
    --Text:rgb(0, 0, 0);
    --Background:rgb(255, 255, 255);
    --Primary: rgb(248, 84, 84);
    --Secondary: rgba(0, 255, 8, 0.692);
    --Accent: rgb(174, 243, 211);
    --font_heading: "Roboto", system-ui;
    --font_body: "Arial", system-ui;
}

body {
    background-color: var(--Background);
}

.menu {
    left: 0px;
    background-color: var(--Primary);
    position: fixed;
    top: 0%;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.button_primary, .button_intro1 {
    font-family: var(--font_body);
    background-color: var(--Primary);
    font-weight: 600;
    width: 96px;
    height: 48px;
    border-color: black;
    border-width: 1px;
    margin-right: 20px;
}

.button_secondary, .button_intro2 {
    font-family: var(--font_body);
    background-color: var(--Secondary);
    color: white;
    font-weight: 600;
    width: 96px;
    height: 48px;
    border-color: white;
    border-width: 1px;
}

.select_fonts {
    font-family: var(--font_body);
}

.select_window {
    width: 100px;
    background-color: rgb(29, 29, 29);
}

.menu {
    display: flex;
    margin: auto;
    position: fixed;
    justify-content: left;
}

.menu img {
    margin-left: 50px;
    margin-right: 60%;
}

.menu_right{
    font-family: var(--font_body);
    justify-content: right;
    font-weight: 400;
    font-size: 16px;
}
.menu_right a{
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

.edit {
    display: flex;
    justify-content: center;
}

.edit_hud button, .edit_hud {
    border-radius: 6px;
    border-style: none;
}

.edit_hud img {
    margin-top: 5px;
}

.randomize {
    margin-bottom: 5px;
}

.arrow_top {
    margin-bottom: 15px;
}

.dark_mode {
    padding-top: 3px;
}

.share {
    padding-top: 4px;
    padding-right: 3px;
}

.visibility {
    padding-top: 4px;
}

.edit_hud button {
    text-align: center;
    margin: auto 8px auto;
    font-size: 18px;
    font-weight: 500;
}

.edit_hud {
    background-color: gray;
    position: fixed;
    margin-top: 40%;
    height: 78px;
    width: 1379px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1, .dark_mode_button {
    width: 67px;
    margin-top: 15px;
}
.font_color, .primary_color {
    width: 121px;
    margin-top: 15px;
}

.edit_hud button {
    height: 67px;
    cursor: pointer;
}

body {
    align-content: center;
}

.intro2 {
    display: flex;
}

.palette {
    margin-top: 200px;
    margin-left: 200px;
}

.button_intro1 {
    margin-top: 10px;
    margin-left: 25px;
}

.intro {
    
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 200px;
    justify-content: left;
    width: 700px;
    height: 450px;
    color: var(--Text);
    padding-left: 50px;
    background-color: var(--Primary);
    
}

.palette {
    width: 400px;
}



.intro h2, .intro p {
    padding-left: 25px;
    width: 600px;
}

.intro h2 {
    padding-top: 25px;
    font-family: var(--font_heading);
    font-weight: 700;
    font-size: 56px;
}
.intro p {
    font-family: var(--font_body);
    font-weight: 400;
    font-size: 18px;
}

.dark_mode {
    margin-top: 4px;
}

.dark_mode_button::after {
    background-color: black;
}

.font_color {
    background-color: var(--Text);
}

.background_color {
    background-color: var(--Background);
}

.primary_color {
    background-color: var(--Primary);
}

.secondary_color {
    background-color: var(--Secondary);
}

.accent_color {
    background-color: var(--Accent);
}


.edit_hud button {
    height: 67px;
}

.jsonData {
    margin-top: 600px;
    background-color: white;
}